body {
  background-color: #f2f2f2;
  font-family: sans-serif;
}

h1{
  text-align: center;
}

.container {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  font-size: small;
  background-color: #ffffff;
  max-width: 400px;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.todo-list {
  list-style-type: none;
  padding-left: 0;
}

.item {
  background-color: #e0e7ff;
  margin: 10px;
  border-radius: 5px;
  padding: 5px;
}

.sub-item {
  margin: 5px;
}

a {
  text-decoration: none;
}

a:link {
  color: #2c7be5;
}

a:hover {
  color: #1a68d1;
}

a:active {
  color: #155ab6;
}

a:visited {
  color: #6c63ff;
}

a:focus {
    outline: 2px solid orange;
}

/* Footer */

footer {
  font-size: 10px;
  text-align: center;
}